{{ define "main" }}

  {{/* ========== Featured Projects ========== */}}
  {{ $projects := where .Site.RegularPages "Section" "projects" }}
  {{ $projects = where $projects "Params.featured" true }}
  {{ $projects = where $projects "Params.hidden" "ne" true }}

  {{ if gt (len $projects) 0 }}
    <section class="article-group mb-10">
      <h1 class="article-title">
        Featured Projects
      </h1>
      <p class="article-subtitle">Personal work across physics, math, and performance-sensitive programming.</p>

      <br />
      <br />

      <div class="article-list">
        {{ range $projects }}
          {{ partial "article-list/default" . }}
        {{ end }}
      </div>
    </section>
  {{ end }}

  {{/* ---------- Divider ---------- */}}
    <hr>

  {{/* ========== Featured Blog Posts ========== */}}
  {{ $posts := where .Site.RegularPages "Section" "blog" }}
  {{ $posts = where $posts "Params.featured" true }}
  {{ $posts = where $posts "Params.hidden" "ne" true }}

  {{ if gt (len $posts) 0 }}
    <section class="article-group mt-10">
      <h2 class="article-title">
        Featured Posts
      </h2>
      <p class="article-subtitle">Thoughts and reflections, as I figure things out.</p>

      <br />
      <br />

      <div class="article-list">
        {{ range $posts }}
          {{ partial "article-list/default" . }}
        {{ end }}
      </div>
    </section>

  {{ end }}

  {{ partial "footer/footer" . }}

{{ end }}

{{ define "right-sidebar" }}
  {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
